*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    background-color: #c70101;
    z-index: 1;  /* làm cho header nổi lên k bị chìm so với slider */
}

#nav, .subnav {
    list-style: none;
}

#nav {
    display: inline-block;
}

#nav li {
    position: relative;
    
}

/* lam hien len */
#nav li:hover .subnav {
    display: block;
}

#nav > li {
    display: inline-block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: #FFF;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);
}

#nav .subnav a {
    color: #000;
    min-width: 100%;
    padding: 0 12px;
    line-height: 38px;
    
}

#nav .subnav li:hover a {
    color: red;
    background-color: #ccc;
    
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav > li:hover > a {
    color: red;
    background-color: #ccc;
    
}

#header .search-btn {
    float: right;
    padding: 0 21px;

}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
   
}

#header #logo {
    max-width: 100%;
    max-height: 100%;
    float: left;
}

#header #logo-1 {
    max-width: 100%;
    max-height: 100%;
    float: right;
}


#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /*kích thước tỉ lệ theo chiều ngang của chính nó */
    background: url('/assets/image/slider/slider1.jpg') top center / cover no-repeat;

}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin: 10px 0;
}

#slider .text-discription {
    font-size: 15px;
    margin: 15px 0;
}

#content{
    height: 2000px;
}

#footer{

}
